body {
    width: 100%;
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
    font-size: 30px;

    .count {
        vertical-align: middle
    }

    .increment,
    .decrement {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 0 20px;
        outline: 0;
        font-size: 20px
    }

    .reset {
        height: 35px;
        border-radius: 5px;
        margin: 0 20px;
        outline: 0;
        font-size: 20px
    }

    .total {
        margin-top: 35px
    }
}